apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patches:
- path: patch-deployment.yaml

configMapGenerator:
- name: backend-config
  literals:
  - ENV=PROD
  - LOG_LEVEL=INFO
  - CLOUD_TASKS_ENABLED=True
